$circle_offset: 2vw;
$circle_dimensions: 20vw;
$rectangle_offset: 4vw;
$rectangle_width: 25vw;
$rectangle_height: 10vw;
$text_size: 4vw;

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  position: relative;
  overflow: hidden;
  margin: 0;
}

html,
body {
  height: 100%;
}

/* Slides */
#slides {
  height: 100%;

  /* Slide */
  .slide {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #464646;

    &.grayscale {
      filter: grayscale(100%);
    }

    &.active {
      z-index: 2;
    }

    &.london {
      background-image: url("../images/london-small.jpg");

      @media screen and (min-width: 640px) {
        background-image: url("../images/london-medium.jpg");
      }

      @media screen and (min-width: 1280px) {
        background-image: url("../images/london-large.jpg");
      }

      @media screen and (min-width: 1920px) {
        background-image: url("../images/london-x-large.jpg");
      }
    }

    &.paris {
      background-image: url("../images/paris-small.jpg");

      @media screen and (min-width: 640px) {
        background-image: url("../images/paris-medium.jpg");
      }

      @media screen and (min-width: 1280px) {
        background-image: url("../images/paris-large.jpg");
      }

      @media screen and (min-width: 1920px) {
        background-image: url("../images/paris-x-large.jpg");
      }
    }

    &.greece {
      background-image: url("../images/greece-small.jpg");

      @media screen and (min-width: 640px) {
        background-image: url("../images/greece-medium.jpg");
      }

      @media screen and (min-width: 1280px) {
        background-image: url("../images/greece-large.jpg");
      }

      @media screen and (min-width: 1920px) {
        background-image: url("../images/greece-x-large.jpg");
      }
    }

    /* Shapes */
    .circle,
    .rectangle {
      position: absolute;
      background-color: rgba(255, 255, 255, 0.5);
    }

    .circle {
      left: $circle_offset;
      top: $circle_offset;
      width: $circle_dimensions;
      height: $circle_dimensions;
      border-radius: $circle_dimensions / 2;
    }

    .rectangle {
      display: none;
      bottom: $rectangle_offset;
      width: $rectangle_width;
      height: $rectangle_height;
      border-radius: 8px;
    }

    /* Text */
    .description,
    .sub-description,
    .price {
      color: white;
      font-size: $text_size;
      text-transform: uppercase;
      text-shadow: 2px 2px 2px #000;
    }

    .description,
    .sub-description {
      position: absolute;
      visibility: hidden;
    }

    .description {
      top: $circle_offset + ($circle_dimensions / 2) - $text_size;
    }

    .sub-description {
      top: $circle_offset + ($circle_dimensions / 2);
    }

    .price {
      text-align: center;
      line-height: $rectangle_height;
    }

    .city {
      font-weight: 700;
    }
  }
}