$offset: 2vw;
$circle_dimensions: 20vw;
$rectangle_width: 25vw;
$rectangle_height: 10vw;
$text_size: 4vw;

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  position: relative;
  overflow: hidden;
  margin: 0;
}

html,
body {
  height: 100%;
}

/* Slides */
#slides {
  height: 100%;

  /* Slide */
  .slide {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;

    &.grayscale {
      filter: grayscale(100%);
    }

    &.london {
      background-image: url("../images/london.jpg");
    }

    &.paris {
      background-image: url("../images/paris.jpg");
    }

    /* Shapes */
    .circle,
    .rectangle {
      position: absolute;
      background-color: rgba(255, 255, 255, 0.5);
      z-index: 1;
    }

    .circle {
      left: $offset;
      top: $offset;
      width: $circle_dimensions;
      height: $circle_dimensions;
      border-radius: $circle_dimensions / 2;
    }

    .rectangle {
      right: -$rectangle_width;
      bottom: $offset;
      width: $rectangle_width;
      height: $rectangle_height;
      border-radius: 8px;
    }

    /* Text */
    .description,
    .location,
    .price {
      color: white;
      font-size: $text_size;
      text-transform: uppercase;
      text-shadow: 2px 2px 2px #000;
    }

    .description,
    .location {
      position: absolute;
      visibility: hidden;
    }

    .description {
      top: $offset + ($circle_dimensions / 2) - $text_size;
    }

    .location {
      top: $offset + ($circle_dimensions / 2);
    }

    .price {
      text-align: center;
      line-height: $rectangle_height;
    }

    .city {
      font-weight: 700;
    }
  }
}